
los:
  pass_angle_threshold: 90.0
  R_a: 20.0
  K_p: 0.04
  K_i: 0.003
  max_cross_track_error_int: 1000.0
  cross_track_error_int_threshold: 30.0


colregs_handler:
  theta_critical_ot: 45.0  # contact angle threshold for OT situation
  theta_critical_ho: 13.0 # contact and bearing angle threshold for HO situation
  theta_critical_cr: -13.0   # contact and bearing angle threshold for CR situation
  theta_ot_min: 112.5  # minimum bearing angle for OT situation
  theta_ot_max: 247.5  # maximum bearing angle for OT situation
  d_critical_so: 100.0 # critical distance threshold where stand-on duties are aborted
  d_activation: 1000.0  # distance threshold for activation of COLREGS handler
  t_cpa_entry: 120.0  # time to CPA threshold for entry into COLREGS situation
  d_cpa_entry: 50.0  # distance to CPA threshold for entry into COLREGS situation

rrtstar:
    params:
      max_nodes: 500
      max_iter: 10000
      max_time: 1.0
      iter_between_direct_goal_growth: 50
      min_node_dist: 5.0
      goal_radius: 2000.0
      step_size: 5.0
      min_steering_time: 1.0
      max_steering_time: 30.0
      steering_acceptance_radius: 10.0
      gamma: 2000.0
    model:
      csog:
        draft: 0.5
        length: 8.0
        width: 2.5
        T_chi: 6.0
        T_U: 6.0
        r_max: 8.0
        U_min: 0.0
        U_max: 10.0
    los:
      pass_angle_threshold: 90.0
      R_a: 10.0
      K_p: 0.03
      K_i: 0.0
      max_cross_track_error_int: 1000.0
      cross_track_error_int_threshold: 30.0


midlevel_mpc:
  params:
    rate: 0.2
    reference_traj_bbox_buffer: 200.0
    T: 80.0
    dt: 5.0
    Q_p: [0.1, 1.0, 5.0] # [0.3, 1.0, 15.0]
    alpha_app_course: [112.5, 0.00006]
    alpha_app_speed: [8.0, 0.001]
    K_app_course: 10.0
    K_app_speed: 10.0

    alpha_cr: [0.03, 0.003]
    y_0_cr: 400.0
    alpha_ho: [0.003, 0.03]
    x_0_ho: 400.0
    alpha_ot: [0.005, 0.01]
    x_0_ot: 300.0
    y_0_ot: 100.0
    d_attenuation: 300.0
    w_colregs: [50.0, 50.0, 30.0]

    w_L2: 0.0
    w_L1: 20000.0
    r_safe_so: 10.0
    r_safe_do: 20.0
    gamma: 1.0
    so_constr_type: "PARAMETRICSURFACE"
    max_num_so_constr: 15
    max_num_do_constr_per_zone: 3 # per shooting node in the mpc
  model:
    kinematic_csog_with_acceleration_and_path_timing:
      draft: 0.5
      length: 8.0
      width: 2.5
      r_max: 8.0
      U_min: 0.0
      U_max: 10.0
      a_max: 0.3
      s_min: 0.0
      s_max: 10000.0
      s_dot_max: 10.0
  enable_acados: False
  solver_options:
    casadi:
      solver_type: "ipopt"
      solver_tol: 0.000001
      print_level: 0
      print_time: 0
      mu_target: 0.0001 # start higher
      mu_init: 0.1
      acceptable_tol: 0.0001 # harder to "compute good gradient steps" for mpc-parameterizations
      acceptable_obj_change_tol: 1000_000_000_000.0
      max_iter: 300
      warm_start_init_point: "yes"
      verbose: False
      jit: False
      jit_flags: ["-O3"]
      compiler: "shell"
      expand_mx_funcs_to_sx: False
      derivative_test: "none"
    acados:
      nlp_solver_type: "SQP"
      nlp_solver_max_iter: 65
      nlp_solver_tol_stat: 0.05
      nlp_solver_tol_eq: 0.0001
      nlp_solver_tol_ineq: 0.0001
      nlp_solver_tol_comp: 0.001
      nlp_solver_ext_qp_res: 0
      qp_solver_type: "PARTIAL_CONDENSING_HPIPM" #"PARTIAL_CONDENSING_HPIPM"  "FULL_CONDENSING_QPOASES"
      qp_solver_iter_max: 50
      qp_solver_warm_start: 1
      qp_solver_tol_stat: 0.01
      qp_solver_tol_eq: 0.001
      qp_solver_tol_ineq: 0.0005
      qp_solver_tol_comp: 0.001
      hessian_approx_type: "EXACT"
      globalization: "MERIT_BACKTRACKING"
      regularize_method: "PROJECT"
      levenberg_marquardt: 0.001
      print_level: 0
      ext_fun_compile_flags: "-O0" # "-march=native -flto -fomit-frame-pointer -O0"