rl:
  learning_rate: 0.1

los:
  pass_angle_threshold: 80.0
  R_a: 25.0
  K_p: 0.024
  K_i: 0.0
  max_cross_track_error_int: 101.0
ktp:
  epsilon: 0.0002

colregs_handler:
  theta_critical_ot: 45.0  # contact angle threshold for OT situation
  theta_critical_ho: 13.0 # contact and bearing angle threshold for HO situation
  theta_critical_cr: -13.0   # contact and bearing angle threshold for CR situation
  theta_ot_min: 112.5  # minimum bearing angle for OT situation
  theta_ot_max: 247.5  # maximum bearing angle for OT situation
  d_critical_so: 100.0 # critical distance threshold where stand-on duties are aborted
  d_activation: 5000.0  # distance threshold for activation of COLREGS handler
  t_cpa_entry: 100.0  # time to CPA threshold for entry into COLREGS situation
  d_cpa_entry: 900.0  # distance to CPA threshold for entry into COLREGS situation

midlevel_mpc:
  params:
    rate: 0.2
    reference_traj_bbox_buffer: 200.0
    T: 100.0
    dt: 4.0
    Q_p: [0.05, 0.05, 10.0]
    alpha_app_course: [112.0, 0.0006]
    alpha_app_speed: [8.0, 0.00025]
    K_app_course: 10.0
    K_app_speed: 10.0
    K_fuel: 1.0

    alpha_cr: [0.002, 0.002]
    y_0_cr: 100.0
    alpha_ho: [0.002, 0.002]
    x_0_ho: 200.0
    alpha_ot: [0.002, 0.002]
    x_0_ot: 200.0
    y_0_ot: 100.0
    w_colregs: [0.0, 0.0, 0.0]

    w_L2: 0.0
    w_L1: 12000.0
    r_safe_so: 5.0
    r_safe_do: 10.0
    gamma: 1.0
    so_constr_type: "PARAMETRICSURFACE"
    max_num_so_constr: 12
    max_num_do_constr_per_zone: 0 # per shooting node in the mpc
  model:
    augmented_csog:
      draft: 2.0
      length: 30.0
      width: 8.0
      T_chi: 6.0
      T_U: 6.0
      r_max: 6.0
      U_min: 0.0
      U_max: 10.0
      U_dot_max: 0.5
  path_timing:
    s_min: 0.0
    s_max: 100000.0
    s_dot_min: -100.0
    s_dot_max: 100.0
  enable_acados: False
  solver_options:
    casadi:
      solver_type: "ipopt"
      solver_tol: 0.001
      print_level: 5
      print_time: 0
      mu_target: 0.0001
      mu_init: 0.0001
      acceptable_tol: 0.001
      acceptable_obj_change_tol: 0.001
      max_iter: 200
      warm_start_init_point: "yes"
      verbose: False
      jit: False
      jit_flags: ["-O3"]
      compiler: "shell"
      expand_mx_funcs_to_sx: False
    acados:
      nlp_solver_type: "SQP"
      nlp_solver_max_iter: 65
      nlp_solver_tol_stat: 0.05
      nlp_solver_tol_eq: 0.0001
      nlp_solver_tol_ineq: 0.0001
      nlp_solver_tol_comp: 0.001
      nlp_solver_ext_qp_res: 0
      qp_solver_type: "PARTIAL_CONDENSING_HPIPM" #"PARTIAL_CONDENSING_HPIPM"  "FULL_CONDENSING_QPOASES"
      qp_solver_iter_max: 50
      qp_solver_warm_start: 1
      qp_solver_tol_stat: 0.01
      qp_solver_tol_eq: 0.001
      qp_solver_tol_ineq: 0.0005
      qp_solver_tol_comp: 0.001
      hessian_approx_type: "EXACT"
      globalization: "MERIT_BACKTRACKING"
      regularize_method: "PROJECT"
      levenberg_marquardt: 0.001
      print_level: 0
      ext_fun_compile_flags: "-O0" # "-march=native -flto -fomit-frame-pointer -O0"